extends layout


block head
	include header

block content

	div#CDMU-CONT.is-iframe
		div.header
			div.bg-figure
			div.wrapper
				include menu

				div#DIN-CON: div.wrapper
					
					section.intercambiable.is-iframe(id="#{gb.links[5]}")
						div.din-txt
							a.CDMU-close(onclick="cdmu_links.quit(this,'quit',event)",href="#{gb.rdir}/cartografias") &times;
							h2= gb.titles[5]
							div.overflower
								div#map.mapa
									iframe.map-iframe(src="http://www.bibliotecanacional.gov.co/CDM/tesauro/")
							div.cont-txt
								p Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
								p Tanto el Plan Nacional de Lectura y Bibliotecas (PNLB) como el Plan Nacional de Música para la Convivencia (PNMC) se proponen fomentar vínculos de convivencia basados en la valoración de la creación cultural, el respeto a la diversidad y la participación social en condiciones de equidad, promoviendo el acceso de toda la población a la información, conocimiento y disfrute, mediante la producción de  medios escritos, sonoros y/o audiovisuales que faciliten el reconocimiento, la conservación, la transmisión y la recreación de la tradición oral y escrita de las comunidades. 
								p Dada la enorme cantidad de prácticas musicales que se desarrollan en nuestro país, la riqueza y diversidad, la altísima movilidad y transformabilidad de las formas de producción, recreación y difusión de múltiples expresiones musicales presentes, vigentes, extintas o inactivas y la necesidad de generar un canal de circulación que promueva su reconocimiento y valoración que no esté atado a los medios más convencionales y masivos, el Centro de Documentación Musical se ha propuesto la realización de un ambicioso proyecto que permita un proceso continuo de socialización y actualización acorde con las características de las distintas prácticas musicales en ámbitos locales, regionales y nacionales. Esta noción recoge un criterio técnico que fundamenta el Plan Nacional de Música para la Convivencia en relación con la caracterización de las músicas de las regiones del país, y se propone establecer coherencia entre los planes y programas que lidera el Ministerio articulando y fortaleciendo sus acciones.

		div.credits
			img(src="#{gb.rdir}/imagenes/cartografias/img/banner/credits.png")
			span.cred-cont Proyecto coordinado por el Centro de Documentación Musical
