div(style="width: 960px; margin: 0 auto; padding-top: 50px;")
  div(style="text-align: right; float: left; width: 393px; margin-top: 5px;") Biblioteca Digital
  div(style="float: right; width: 400px;")
    form(id="search-personalizado-form" action="" method="post" accept-charset="UTF-8")
      div(style="width: 300px; float: left;")
        div.container-inline
          div.form-item.form-type-textfield.form-item-search-block-form
            input(name="search_block_form" class="form-text" id="edit-search-personalizado-form--2" onfocus="if (this.value == 'Buscar') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Buscar';}" type="text" size="15" maxlength="128" value="Buscar")
          div.form-actions.form-wrapper
            input(name="submit" class="form-submit" id="edit-submit" type="image" src="http://www.bibliotecanacional.gov.co/themes/corporateclean/images/search-button.png")
      div(style="float: left;")
        a(href="http://catalogo.bibliotecanacional.gov.co" target="_blank")
          img(src="http://www.bibliotecanacional.gov.co/sites/default/files/boton_search_cabezote.png" alt="Catálogo" width="68")