extends layout


block head
	include header

block content

	div#CDMU-CONT.is-normal
		div.header
			div.bg-figure
			div.wrapper
				include menu

				div#DIN-CON: div.wrapper
					
					section.intercambiable.is-normal(id="#{gb.links[7]}")
						div.din-txt
							a.CDMU-close(onclick="cdmu_links.quit(this,'quit',event)",href="#{gb.rdir}/cartografias") &times;
							h2= gb.titles[7]
							h3 Cartografía de prácticas musicales en Colombia
						
							div.overflower
								p Dada la enorme cantidad de prácticas musicales que se desarrollan en nuestro país, la riqueza y diversidad, la altísima movilidad y transformabilidad de las formas de producción, recreación y difusión de múltiples expresiones musicales presentes, vigentes, extintas o inactivas y la necesidad de generar un canal de circulación que promueva su reconocimiento y valoración que no esté atado a los medios más convencionales y masivos, el Centro de Documentación Musical se ha propuesto la realización de un ambicioso proyecto que permita un proceso continuo de socialización y actualización acorde con las características de las distintas prácticas musicales en ámbitos locales, regionales y nacionales. Esta noción recoge un criterio técnico que fundamenta el Plan Nacional de Música para la Convivencia en relación con la caracterización de las músicas de las regiones del país, y se propone establecer coherencia entre los planes y programas que lidera el Ministerio articulando y fortaleciendo sus acciones.
								p Se propone, así mismo, promover múltiples vínculos entre los actores directos de las prácticas musicales, por distantes que ellas se encuentren, y generar un diálogo de saberes sobre el conocimiento y los procesos de creación musical. Pretende, a su vez, incentivar a creadores, intérpretes, agrupaciones, instituciones y organizaciones de todo tipo vinculadas con la actividad musical en Colombia, a participar de un proceso de construcción de conocimiento e información que se nutre y se actualiza en forma permanente y continua con fines  de recuperación, protección y divulgación, coordinado y administrado por el Centro de Documentación Musical de la Biblioteca Nacional de Colombia.
								p Tanto el Plan Nacional de Lectura y Bibliotecas (PNLB) como el Plan Nacional de Música para la Convivencia (PNMC) se proponen fomentar vínculos de convivencia basados en la valoración de la creación cultural, el respeto a la diversidad y la participación social en condiciones de equidad, promoviendo el acceso de toda la población a la información, conocimiento y disfrute, mediante la producción de  medios escritos, sonoros y/o audiovisuales que faciliten el reconocimiento, la conservación, la transmisión y la recreación de la tradición oral y escrita de las comunidades. 
								p Desde esta perspectiva, el CDM como institución de carácter nacional cuya misión es fomentar el patrimonio sonoro-musical y aportar a la construcción de la memoria musical colectiva de todo el país, se ha dado a la tarea de articular estos propósitos mediante la realización de cartografías de prácticas musicales que promuevan la difusión del patrimonio musical colombiano más diverso y representativo.
								p Este escenario colectivo de nuestros mapas sonoros proyecta el encuentro de saberes que se han establecido en torno a las prácticas musicales,  la transmisión oral, las lógicas particulares, las formas de construcción y transmisión de conocimiento, sus mecanismos de legitimación, así como, los saberes construidos en los espacios académicos ordenados por la escritura, la investigación, la elaboración teórica y la sistematización. 
								p Coinciden El PNMC y el PNLB en el impulso y apoyo a mecanismos de circulación de la creación cultural generando estrategias para su promoción, tales como escenarios y producciones especializadas para medios masivos de comunicación, buscando que la población amplíe sus posibilidades de contacto con las expresiones culturales como la música y la lectura y tenga un mayor nivel de entendimiento y apropiación de ella.
								p En este avance de la presentación cartográfica se desarrolla la primera capa del mapa en la que se hace énfasis en las prácticas de música tradicional regional. 
								p Casi la totalidad de los documentos incluidos en este proyecto provienen de procesos de recolección, documentación, análisis, sistematización y validación,  originados en la actividad de este Centro.
								p CENTRO DE DOCUMENTACIÓN MUSICAL
								
								h2.tit-creditos Créditos
								hr
								div.txt-creditos
									p: span.blq Junio de 2007
									
								.cred_antes


		div.credits
			img(src="#{gb.rdir}/imagenes/cartografias/img/banner/credits.png")
			span.cred-cont Proyecto coordinado por el Centro de Documentación Musical
