html
    min-width $wrapper
    
    @media (max-width: $sc-sm)
        min-width 0
html
body
    background #fff
    padding 0
    margin 0
    &.show-popUp
        overflow hidden !important
body.i i
    color purple !important

/*PARCHES DRUPAL*/
#header-inside
    &.container_12
        max-width ($wrapper - 20)
        a[href="http://www.mincultura.gov.co"] img
            margin-left 142px !important
    #header-inside-left
        margin-left 0
#navigation
    width ($wrapper - 20)
    
#content
    .msie_10 &, .msie_9 &, .msie_8 &
        margin-top -4px

.text-left
    text-align left !important
.text-right
    text-align right !important
.text-center
    text-align center !important
.text-justify
    text-align justify !important

#banner
#content
    font-family $textFont
    line-height 1.3em
    &, p
        font-size $fontSize
        line-height 20px
        @media (max-width $sc-sm)
            line-height 15px

    h1,h2,h3,h4,h5,h6
        font-family $titleFont
        text-shadow none
        color $textColor
        padding 20px 0 10px 0
        margin auto
        font-weight normal
        line-height 1em

    > div
        max-width ($wrapper - 20)
        margin auto
        > *
            margin-left -1px !important //descuadre respecto al menu

#main
    padding-top 0 !important
    margin auto
    &[class*="grid_"]
        float none
    .tabs.primary
        width $wrapper - ($paddingBox *4)
        margin auto
        a
            color $textColor
        .active a
            z-index 10
            position relative
            background white
            box-shadow rgba(0,0,0,0.2) 0 -2px  4px 0
            color $gray
    .breadcrumb
        width $wrapper - ($paddingBox * 5)
        margin auto
        float none
        background $green
        margin -21px auto auto
        padding-top 5px
        &
        .breadcrumb-separator
            color #fff
            color rgba(#fff,.75)
        a
            color #fff

#block-system-main
    margin auto
    width auto
    > .content{}
#content
    .msie_10 &, .msie_9 &, .msie_8 &
        margin-top -4px



//CONTENIDO
#content
#banner #content-inside
    max-width none !important
    width auto
a.CDMU-close
    display block
    float right
    text-align center
    width 32px
    position relative
    z-index 11
    height 32px
    line-height 32px
    font-size 24px
    color #333
    top 5px
    right -10px
    cursor pointer
    transition ease-in-out 250ms all
    box-shadow rgba(#000,0) 0px 0px 4px 0
    text-decoration none
    &:hover
        box-shadow rgba(#000,.1) 2px 2px 4px 0
    
#CDMU-CONT
    font-family $textFont
    color $textColor
    padding-top 1px
    margin-top -1px
    padding-bottom 100px
    position relative
    
    .wrapper
        max-width $wrapper - 19
        margin auto
        height 100%
    .header
        background-color $aquamarine
        background $aquamarine
        margin-top -1px
        padding-top 1px
        height 500px
        position relative
        z-index 1
        &:before
        &:after
            content ''
            display block
            position absolute
            left 0
            z-index 1
            right 0
        &:before
            top 0
            height 54px
            background url(../img/banner/bg-top.png) center top repeat-x
            @media(max-width $sc-sm)
                display none
                
        &:after
            bottom 0
            height 124px
            background url(../img/banner/bg-bottom.png) center bottom repeat-x
        .bg-figure
            animation bg_left linear 30s infinite
            background url(../img/banner/bg-00.png) repeat-x center center transparent
            position absolute
            top 0
            left 0
            height 100%
            width 100%
            transition ease-in-out 250ms all
    
            $colors= $ban0, $ban1, $ban2, $ban3, $ban4, $ban5, $ban6, $ban7, $ban8
            $links= "cartografias", "cartografias_tradicionales", "cartografias_festivales", "cartografias_indigenas", "cartografias_redes", "cartografias_bandas", "cartografias_tesauro", 'vocales', 'introcuccion'
            for value, index in $links
                .{value}&
                .hover_{value}&
                    $uri= '../img/banner/bg-0'+(index)+'.png'
                    $color= $colors[index]
                    background-color $color
                    background-image url($uri)
                /#CDMU-CONT.hover_{value}
                    .menu-gram .text-gram .tipographic.{value}
                        display block
                        animation showUp ease-in-out 500ms
                    .tipographic.cartografias
                        visibility hidden
            
    .credits
        display block
        position absolute
        top 100%
        width 100%
        height auto
        text-align center
        img
            margin -50px auto 0
            padding 0
            display block
            max-width 100%
    
    .menu-gram
        position absolute
        bottom 0
        z-index 11
        height 480px
        width 480px
        margin-left -121px
        transition ease-in-out all 500ms
        
        .img-gram
            height 100%
            transition ease-in-out all 500ms
            img
                display block
                position absolute
                top 0
                bottom 0
                height auto
                margin auto
                max-width 100%
                transition ease-in-out 250ms all
                
        .lnk-gram
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            transition ease-in-out all 250ms
            
            a
                position absolute
                background transparent no-repeat center center
                background-size 100% 100%
                display inline-block
                size 60px
                border-radius 1000px
                border 3px solid rgba(#fff,0.33)
                cursor pointer
                box-shadow rgba(#000,.33) 0px 0px 8px 0
                transition ease-in-out 250ms all
                transform scale(0.9)
                    
                &:hover
                    box-shadow rgba($aquamarine,.5) 0 0 16px 0
                    transform scale(1)
                    z-index 1
                    .label
                        display block
                        animation loadingShow ease-in-out 250ms
                    
                .label
                    display none
                    width 200px
                    margin-left 15px
                    position absolute
                    left 100%
                    top 25%
                    background #fff
                    color $textColor
                    text-align center
                    font-size $text_p
                    padding ($paddingBox * .5)
                    box-shadow rgba(#000,.33) 2px 2px 8px 0
                    line-height 1.2em
                    &:before
                        content ''
                        display block
                        position absolute
                        right 100%
                        top 50%
                        margin-top -8px
                        arrow 12px 8px left #fff

                $top= -2px 31px 88px 161px 239px 312px 369px 402px 375px
                $lft= 245px 317px 371px 400px 399px 371px 316px 246px 80px
                
                for $v, $i in $top
                    &.lnk_{$i}
                        background-image url('../img/banner/ico_'+$i+'.png')
                        top $v
                        left $lft[$i]
        
        .text-gram
            height 100%
            position absolute
            width $wrapper - ( $paddingBox *2 )
            top 0
            left 0
            margin-left 121px
            z-index -1
            .tipographic
                position absolute
                bottom 75px
                right 0
                color #fff
                text-shadow 2px 3.464px 8px rgba(0, 0, 0, 0.33)
                text-align left
                font-size 48px
                line-height 1.2em
                display none
                
                &.cartografias
                    opacity 1
                    display block
                    animation showUp 750ms ease-in-out
                
                small
                    display inline-block
                    vertical-align top
                    position relative
                    top -3px
                span
                    display block
                    &.bg
                        font-size 62px
                    &.sm
                    small
                        font-size 48px
                    &.xmall
                        font-size 32px
    
        @media( max-width $sc-sm)
            width 100%
            margin-left 0
            img
                min-width 320px
                margin-left -110px !important
            
            .lnk-gram
                left auto
                right 0
                width 80%
                top 20px
                margin-right 0
                height auto
                background rgba(255,255,255,0.5)
                padding 20px
                max-width 250px
                a
                    position relative
                    left 0 !important
                    display: block
                    top 0 !important
                    min-height: 36px
                    width auto
                    text-decoration: none
                    height auto
                    background-size 36px auto
                    border none
                    line-height 24px
                    margin-bottom 5px
                    background-color rgba(255,255,255,0.75)
                    background-position 10px center
                    float none
                    transform: scale(1)
                    border-radius 0
                    padding 5px 0
                    &:hover .label
                        opacity .5
                        display inline-block
                        
                    .label
                        box-shadow none
                        background 0
                        text-align left
                        color #333
                        padding 0
                        top 0
                        padding-left: 10px
                        font-weight bold
                        position relative
                        display inline-block
                        vertical-align sub
                        line-height 1.2em
                        left 36px
                        width 80%
                        animation none !important
                        &:before
                            display none
            / .contenido
                padding 0 ($paddingBox *2)
                
                
    .contenido
        padding-top 10px
        transition ease-in-out 500ms all
    h1
        color $titleColor
        padding 20px 0 10px 0
        margin auto

    h2
        color $aquamarine_dark
        font-size $text_h2
        margin $paddingBox auto
        padding-top 0
        
    p
        text-align justify
        padding 10px 0
        margin auto
    
    //MINIMIZED
    &.is-mapa
    &.is-iframe
    &.is-normal
        //MENU
        .menu-gram
            width 240px
            height 380px
            img
                top auto
                bottom 42px
                margin-left: 0 !important
            .text-gram
                display none !important
                
                
        .lnk-gram a
            position static
            width 30px
            height 30px
            display block
            float right
            clear both
            border-width 1px
            margin-bottom 3%
            margin-right 40px
            box-shadow none
        .din-txt
            padding-left 100px
        .contenido
            opacity 0
            display none
        @media(max-width $sc-sm)
            .menu-gram
                width 60px
                height 450px
                position absolute//absolute/fixed
                margin-left 0
                //max-height 100%
                //overflow auto
                top 0
                img
                    max-width none
                    width 100%
                    min-width 75px
                    bottom auto
                    top $paddingBox
                &.hover
                
                    .lnk-gram
                        width 320px
                        opacity 1
                .img-gram:after
                    display block
                    content 'Men''\00FA'
                    height 10px
                    width 10px
                    position relative
                    top 85px
                    left 0
                    text-align center
                    width 100%
                    font-size 12px
                    color $gray
            .lnk-gram
                right auto
                left 0
                background #fff
                box-shadow rgba(0,0,0,0.25) 2px 2px 8px 0
                top 2px
                //display none
                width 0
                padding 0
                opacity 0
                overflow auto
                overflow-x hidden
                max-height 100%
                a
                    float none
                    width 100%
                    margin-bottom 5px
                    margin-right 0
            .din-txt
                padding-left 60px
                box-shadow none
            .contenido
               // display none
                
                
            
    &.is-mapa
        .din-txt .overflower
            float right
            .mapa
                margin-left $paddingBox *2
                width 500px
                height 600px
                background $gray
                    img
                        width 100%
        @media(max-width $sc-sm)
            .din-txt .overflower
                float none
                .mapa
                    width 100%
                    height 375px
                    margin-left 0
        
    &.is-iframe
        .din-txt 
            padding-left 100px
            .overflower .mapa
                width 100%
            .mapa
                padding-top 1px
                padding-bottom 1px
                margin-bottom $paddingBox
                
                
                &:before
                &:after
                    content ''
                    display block
                    background $gray4
                    width 95%
                    height 1px
                    margin auto
                    
            iframe
                background #fff
                width 100%
                height 750px

        @media(max-width $sc-sm)
            .din-txt
                padding-left 60px
                .mapa
                    padding 0
                iframe
                    height 400px
                    border 1px solid $gray4
            
        

#DIN-CON
    position relative
    z-index 10
    height 1px
    margin-top -1px
    .wrapper
        position relative
    .intercambiable
        transition ease-in-out all 500ms
        &.hide
            display none
            opacity 0
        &.show
            animation openRight ease-in-out .5s
            display block
            opacity 1
    .din-txt
        background #fff
        width auto
        height auto
        position absolute
        box-shadow rgba(#000,.25) -2px -32px 48px 0
        padding $paddingBox *2
        right 0
        top 0
        min-height 500px
        transition ease-in-out all 500ms
                
        p
            line-height 1.2em
            padding 0 0 10px 0
            margin auto
            text-align justify
    iframe
        width 100%
        height 350px
        border none
    .overflower
        overflow auto
        overflow-x hidden
        transition ease-in-out all 500ms
    .cont-txt
        overflow auto
        img
            width 100%
            height auto
        
        