@import 'nib'
@import 'mixin.styl'
@import 'variables.styl'

//USE
@keyframes openRight {
	0% {
		opacity 0
		transform translateY(-20px)
	}
	75% {
		opacity 1
	}
	100% {
		transform translateY(0px)
	}
}
//USE
@keyframes loadingShow {
	0% {
		opacity 0
	}
	100% {
		opacity 1
	}
}
//USE
@keyframes bg_left {
	0% {
		background-position 0px center
	}
	100% {
		background-position -1267px center
	}
}
