html
    min-width $wrapper
    
    @media (max-width: $screen-sm)
        min-width 0
html
body
    background #fff
    &.show-popUp
        overflow hidden !important
body.i i
    color purple !important

/*PARCHES DRUPAL*/
#header-inside
    &.container_12
        max-width ($wrapper - 20)
        a[href="http://www.mincultura.gov.co"] img
            margin-left 142px !important
    #header-inside-left
        margin-left 0
#navigation
    width ($wrapper - 20) +1
    
#content
    .msie_10 &, .msie_9 &, .msie_8 &
        margin-top -4px

.text-center
    text-align center

#banner
#content
    font-family $textFont
    line-height 1.3em
    &, p
        font-size $fontSize
        line-height 20px
        @media (max-width: $screen-sm)
            line-height 15px

    h1,h2,h3,h4,h5,h6
        font-family $titleFont
        text-shadow none
        color $textColor
        padding 20px 0 10px 0
        margin auto
        font-weight normal
        line-height 1em

    > div
        max-width ($wrapper - 20)
        margin auto
        > *
            margin-left -1px !important //descuadre respecto al menu

#main
    padding-top 0 !important
    .breadcrumb
        display none !important
#block-system-main
    margin auto
    width auto
    > .content{}
#content
    .msie_10 &, .msie_9 &, .msie_8 &
        margin-top -4px



//CONTENIDO
#content
#banner #content-inside
    max-width none !important
    width auto
a.CDMU-close
    display block
    float right
    text-align center
    width 32px
    position relative
    z-index 11
    height 32px
    line-height 32px
    font-size 24px
    color #333
    top -10px
    right -10px
    cursor pointer
    transition ease-in-out 250ms all
    box-shadow rgba(#000,0) 0px 0px 4px 0
    &:hover
        box-shadow rgba(#000,.1) 2px 2px 4px 0
    
#CDMU-CONT
    font-family $textFont
    color $textColor
    padding-top 1px
    margin-top -1px    
    
    .wrapper
        max-width $wrapper - 19
        margin auto
        height 100%
    .header
        background-color $aquamarine
        background $aquamarine
        margin-top -1px
        padding-top 1px
        height 500px
        position relative
        z-index 1
        &:before
        &:after
            content ''
            display block
            position absolute
            left 0
            z-index 1
            right 0
        &:before
            top 0
            height 54px
            background url(../img/banner/bg-top.png) center top repeat-x
        &:after
            bottom 0
            height 124px
            background url(../img/banner/bg-bottom.png) center bottom repeat-x
        .bg-figure
            animation bg_left linear 30s infinite
            background url(../img/banner/bg-00.png) repeat-x center center transparent
            position absolute
            top 0
            left 0
            height 100%
            width 100%
            
    .credits
        display block
        position fixed
        right 0
        top 227px
        z-index 2
        width 110px
        height 250px
        background #fff
        text-align center
        box-shadow rgba(#000, 0.33) -8px 8px 16px 0
        img
            margin auto
            padding 0
            display block
    .menu-gram
        position absolute
        bottom 0
        z-index 11
        height 480px
        width 480px
        margin-left -121px
        .cont-iframe&
            z-index 11
            width 100%
        .img-gram
            height 100%
            img
                display block
                position absolute
                top 0
                bottom 0
                height auto
                margin auto
                transition ease-in-out 250ms all
            .cont-iframe&
                img
                    width 200px
                    padding-top 360px
                
        .lnk-gram
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            
            .cont-iframe&
                top auto
                bottom 0px
                left 220px
            a
                position absolute
                background transparent no-repeat center center
                background-size 100% 100%
                display inline-block
                size 60px
                border-radius 1000px
                border 3px solid rgba(#fff,0.33)
                cursor pointer
                box-shadow rgba(#000,.33) 0px 0px 8px 0
                transition ease-in-out 250ms all
                transform scale(0.9)
                .cont-iframe&
                    size 30px
                    position static
                    text-outline  auto !important
                    left auto !important
                    
                &:hover
                    box-shadow rgba($aquamarine,.5) 0 0 16px 0
                    transform scale(1)
                    z-index 1
                    .label
                        display block
                        animation loadingShow ease-in-out 250ms
                    
                .label
                    display none
                    width 200px
                    margin-left 15px
                    position absolute
                    left 100%
                    top 25%
                    background #fff
                    color $textColor
                    text-align center
                    font-size $text_p
                    padding ($paddingBox * .5)
                    box-shadow rgba(#000,.33) 2px 2px 8px 0
                    line-height 1.2em
                    &:before
                        content ''
                        display block
                        position absolute
                        right 100%
                        top 50%
                        margin-top -8px
                        arrow 12px 8px left #fff

                $top= -2px 31px 88px 161px 239px 312px 369px 402px 375px
                $lft= 245px 317px 371px 400px 399px 371px 316px 246px 80px
                
                for $v, $i in $top
                    &.lnk_{$i}
                        background-image url('../img/banner/ico_'+$i+'.png')
                        top $v
                        left $lft[$i]
    
    .contenido
        padding-top 10px
        .cont-iframe&
        .cont-mapa&
            height 100px
            color transparent
            opacity 0
    h1
        color $titleColor
        padding 20px 0 10px 0
        margin auto

    h2
        color $aquamarine_dark
        font-size $text_h3
        margin auto
        padding-top 0
        
    p
        text-align justify
        padding 10px 0
        margin auto

#DIN-CON
    position relative
    z-index 10
    height 1px
    margin-top -1px
    .wrapper
        position relative
    .intercambiable
        display none
    .din-txt
        background #fff
        width 40%
        position absolute
        box-shadow rgba(#000,.25) -2px 4px 12px 0
        padding $paddingBox *2
        right 0
        bottom 0
        height 335px
        margin ($paddingBox *4) auto

        .cont-mapa &
            bottom auto
            top -514px
            height 530px
            width 60%
        .cont-iframe &
            height 455px
            margin auto
            width 100%
            max-width $wrapper - ($paddingBox *4)
            padding $paddingBox
            h2
                margin-bottom 10px
            &:before
                content ''
                display block
                background url(../img/banner/bg-iframe.png) no-repeat center top transparent
                position absolute
                width auto
                left $paddingBox
                right $paddingBox
                top 30px
                height 38px
                background-size 100% auto
                
        p
            line-height 1.2em
            padding 0 5px 10px 0
            margin auto
            text-align left
    iframe
        width 100%
        height 350px
        border none
    .overflower
        overflow auto
        overflow-x hidden
        max-height 300px
        .cont-mapa &
            height 480px
            max-height none
            max-width 350px
            float right
            margin-left $paddingBox
            .mapa
                height 100%
        .cont-iframe &
            overflow visible
            max-height none
            .mapa
                overflow visible
                max-height none
                height auto
                padding-left 200px
    .cont-txt
        overflow auto
        .cont-mapa &
            max-height 480px
    .mapa
        width 100%
        height 300px
        img
            width 100%
            height auto
        
        