#banner html,
#content html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#banner body,
#content body {
  margin: 0;
}
#banner article,
#content article,
#banner aside,
#content aside,
#banner details,
#content details,
#banner figcaption,
#content figcaption,
#banner figure,
#content figure,
#banner footer,
#content footer,
#banner header,
#content header,
#banner hgroup,
#content hgroup,
#banner main,
#content main,
#banner menu,
#content menu,
#banner nav,
#content nav,
#banner section,
#content section,
#banner summary,
#content summary {
  display: block;
}
#banner audio,
#content audio,
#banner canvas,
#content canvas,
#banner progress,
#content progress,
#banner video,
#content video {
  display: inline-block;
  vertical-align: baseline;
}
#banner audio:not([controls]),
#content audio:not([controls]) {
  display: none;
  height: 0;
}
#banner [hidden],
#content [hidden],
#banner template,
#content template {
  display: none;
}
#banner a,
#content a {
  background-color: transparent;
}
#banner a:active,
#content a:active,
#banner a:hover,
#content a:hover {
  outline: 0;
}
#banner abbr[title],
#content abbr[title] {
  border-bottom: 1px dotted;
}
#banner b,
#content b,
#banner strong,
#content strong {
  font-weight: bold;
}
#banner dfn,
#content dfn {
  font-style: italic;
}
#banner h1,
#content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#banner mark,
#content mark {
  background: #ff0;
  color: #000;
}
#banner small,
#content small {
  font-size: 80%;
}
#banner sub,
#content sub,
#banner sup,
#content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#banner sup,
#content sup {
  top: -0.5em;
}
#banner sub,
#content sub {
  bottom: -0.25em;
}
#banner img,
#content img {
  border: 0;
}
#banner svg:not(:root),
#content svg:not(:root) {
  overflow: hidden;
}
#banner figure,
#content figure {
  margin: 1em 40px;
}
#banner hr,
#content hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#banner pre,
#content pre {
  overflow: auto;
}
#banner code,
#content code,
#banner kbd,
#content kbd,
#banner pre,
#content pre,
#banner samp,
#content samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#banner button,
#content button,
#banner input,
#content input,
#banner optgroup,
#content optgroup,
#banner select,
#content select,
#banner textarea,
#content textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#banner button,
#content button {
  overflow: visible;
}
#banner button,
#content button,
#banner select,
#content select {
  text-transform: none;
}
#banner button,
#content button,
#banner html input[type="button"],
#content html input[type="button"],
#banner input[type="reset"],
#content input[type="reset"],
#banner input[type="submit"],
#content input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#banner button[disabled],
#content button[disabled],
#banner html input[disabled],
#content html input[disabled] {
  cursor: default;
}
#banner button::-moz-focus-inner,
#content button::-moz-focus-inner,
#banner input::-moz-focus-inner,
#content input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#banner input,
#content input {
  line-height: normal;
}
#banner input[type="checkbox"],
#content input[type="checkbox"],
#banner input[type="radio"],
#content input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
#banner input[type="number"]::-webkit-inner-spin-button,
#content input[type="number"]::-webkit-inner-spin-button,
#banner input[type="number"]::-webkit-outer-spin-button,
#content input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#banner input[type="search"],
#content input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#banner input[type="search"]::-webkit-search-cancel-button,
#content input[type="search"]::-webkit-search-cancel-button,
#banner input[type="search"]::-webkit-search-decoration,
#content input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#banner fieldset,
#content fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#banner legend,
#content legend {
  border: 0;
  padding: 0;
}
#banner textarea,
#content textarea {
  overflow: auto;
}
#banner optgroup,
#content optgroup {
  font-weight: bold;
}
#banner table,
#content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#banner td,
#content td,
#banner th,
#content th {
  padding: 0;
}
#banner html,
#content html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#banner body,
#content body {
  margin: 0;
}
#banner article,
#content article,
#banner aside,
#content aside,
#banner details,
#content details,
#banner figcaption,
#content figcaption,
#banner figure,
#content figure,
#banner footer,
#content footer,
#banner header,
#content header,
#banner hgroup,
#content hgroup,
#banner main,
#content main,
#banner menu,
#content menu,
#banner nav,
#content nav,
#banner section,
#content section,
#banner summary,
#content summary {
  display: block;
}
#banner audio,
#content audio,
#banner canvas,
#content canvas,
#banner progress,
#content progress,
#banner video,
#content video {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: baseline;
}
#banner audio:not([controls]),
#content audio:not([controls]) {
  display: none;
  height: 0;
}
#banner [hidden],
#content [hidden],
#banner template,
#content template {
  display: none;
}
#banner a,
#content a {
  background-color: transparent;
}
#banner a:active,
#content a:active,
#banner a:hover,
#content a:hover {
  outline: 0;
}
#banner abbr[title],
#content abbr[title] {
  border-bottom: 1px dotted;
}
#banner b,
#content b,
#banner strong,
#content strong {
  font-weight: bold;
}
#banner dfn,
#content dfn {
  font-style: italic;
}
#banner h1,
#content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#banner mark,
#content mark {
  background: #ff0;
  color: #000;
}
#banner small,
#content small {
  font-size: 80%;
}
#banner sub,
#content sub,
#banner sup,
#content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#banner sup,
#content sup {
  top: -0.5em;
}
#banner sub,
#content sub {
  bottom: -0.25em;
}
#banner img,
#content img {
  border: 0;
}
#banner svg:not(:root),
#content svg:not(:root) {
  overflow: hidden;
}
#banner figure,
#content figure {
  margin: 1em 40px;
}
#banner hr,
#content hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#banner pre,
#content pre {
  overflow: auto;
}
#banner code,
#content code,
#banner kbd,
#content kbd,
#banner pre,
#content pre,
#banner samp,
#content samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#banner button,
#content button,
#banner input,
#content input,
#banner optgroup,
#content optgroup,
#banner select,
#content select,
#banner textarea,
#content textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#banner button,
#content button {
  overflow: visible;
}
#banner button,
#content button,
#banner select,
#content select {
  text-transform: none;
}
#banner button,
#content button,
#banner html input[type="button"],
#content html input[type="button"],
#banner input[type="reset"],
#content input[type="reset"],
#banner input[type="submit"],
#content input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#banner button[disabled],
#content button[disabled],
#banner html input[disabled],
#content html input[disabled] {
  cursor: default;
}
#banner button::-moz-focus-inner,
#content button::-moz-focus-inner,
#banner input::-moz-focus-inner,
#content input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#banner input,
#content input {
  line-height: normal;
}
#banner input[type="checkbox"],
#content input[type="checkbox"],
#banner input[type="radio"],
#content input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
#banner input[type="number"]::-webkit-inner-spin-button,
#content input[type="number"]::-webkit-inner-spin-button,
#banner input[type="number"]::-webkit-outer-spin-button,
#content input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#banner input[type="search"],
#content input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
#banner input[type="search"]::-webkit-search-cancel-button,
#content input[type="search"]::-webkit-search-cancel-button,
#banner input[type="search"]::-webkit-search-decoration,
#content input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#banner fieldset,
#content fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#banner legend,
#content legend {
  border: 0;
  padding: 0;
}
#banner textarea,
#content textarea {
  overflow: auto;
}
#banner optgroup,
#content optgroup {
  font-weight: bold;
}
#banner table,
#content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#banner td,
#content td,
#banner th,
#content th {
  padding: 0;
}
html {
  background: #f4f2ef;
  min-width: 960px;
}
@media (max-width: 768px) {
  html {
    min-width: 0;
  }
}
html,
body {
  background: #fff;
}
html.show-popUp,
body.show-popUp {
  overflow: hidden !important;
}
body.i i {
  color: #800080 !important;
}
.msie_10 #content,
.msie_9 #content,
.msie_8 #content {
  margin-top: -4px;
}
.text-center {
  text-align: center;
}
#banner,
#content {
  font-family: lato, arial, sans-serif;
  line-height: 1.3em;
}
#banner,
#content,
#banner p,
#content p {
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 768px) {
  #banner,
  #content,
  #banner p,
  #content p {
    line-height: 15px;
  }
}
#banner h1,
#content h1,
#banner h2,
#content h2,
#banner h3,
#content h3,
#banner h4,
#content h4,
#banner h5,
#content h5,
#banner h6,
#content h6 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Segoe UI, Helvetica, Arial, sans-serif;
  text-shadow: none;
  color: #110101;
  padding: 10px 0;
  margin: 10px auto;
  font-weight: normal;
  line-height: 1em;
}
#banner > div,
#content > div {
  max-width: 940px;
  margin: auto;
}
#banner > div > *,
#content > div > * {
  margin-left: -1px !important;
}
#main {
  padding-top: 0 !important;
}
#main .breadcrumb {
  display: none !important;
}
#block-system-main {
  margin: auto;
  width: auto;
}
.msie_10 #content,
.msie_9 #content,
.msie_8 #content {
  margin-top: -4px;
}
#content,
#banner #content-inside {
  max-width: none !important;
  width: auto;
}
#CDMU-CONT {
  font-family: lato, arial, sans-serif;
  color: #110101;
}
#CDMU-CONT .wrapper {
  max-width: 941px;
  margin: auto;
}
#CDMU-CONT .header {
  background-color: #199dc3;
  -webkit-background: linear-gradient(to bottom, #199dc3 0%, #65cdeb 50%, #199dc3 100%);
  -moz-background: linear-gradient(to bottom, #199dc3 0%, #65cdeb 50%, #199dc3 100%);
  -ms-background: linear-gradient(to bottom, #199dc3 0%, #65cdeb 50%, #199dc3 100%);
  -o-background: linear-gradient(to bottom, #199dc3 0%, #65cdeb 50%, #199dc3 100%);
  background: linear-gradient(to bottom, #199dc3 0%, #65cdeb 50%, #199dc3 100%);
  height: 430px;
  position: relative;
  z-index: 1;
}
#CDMU-CONT .header:before,
#CDMU-CONT .header:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  z-index: 1;
  right: 0;
}
#CDMU-CONT .header:before {
  top: -1px;
  height: 65px;
  background: url("../img/banner/bg-top.png") center top repeat-x;
}
#CDMU-CONT .header:after {
  bottom: -1px;
  height: 102px;
  background: url("../img/banner/bg-bottom.png") center bottom repeat-x;
}
#CDMU-CONT .header .bg-figure {
  -webkit-animation: bg_left linear 30s infinite;
  -moz-animation: bg_left linear 30s infinite;
  -ms-animation: bg_left linear 30s infinite;
  -o-animation: bg_left linear 30s infinite;
  animation: bg_left linear 30s infinite;
  background: url("../img/banner/bg-aquamarine.png") repeat-x center center transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#CDMU-CONT .credits {
  display: block;
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 2;
  -webkit-box-shadow: rgba(0,0,0,0.33) -8px 8px 16px 0;
  -moz-box-shadow: rgba(0,0,0,0.33) -8px 8px 16px 0;
  -ms-box-shadow: rgba(0,0,0,0.33) -8px 8px 16px 0;
  -o-box-shadow: rgba(0,0,0,0.33) -8px 8px 16px 0;
  box-shadow: rgba(0,0,0,0.33) -8px 8px 16px 0;
}
#CDMU-CONT .credits img {
  margin: auto;
  padding: 0;
  display: block;
}
#CDMU-CONT .menu-gram {
  position: relative;
  z-index: 10;
  left: -120px;
  top: 15px;
}
.cont-iframe#CDMU-CONT .menu-gram {
  z-index: 11;
  height: 444px;
}
#CDMU-CONT .menu-gram .img-gram img {
  display: block;
}
.cont-iframe#CDMU-CONT .menu-gram .img-gram {
  position: absolute;
  bottom: -50px;
}
.cont-iframe#CDMU-CONT .menu-gram .img-gram img {
  width: 200px;
  margin-top: 0;
}
#CDMU-CONT .menu-gram .gramfn {
  padding-top: 40px;
}
#CDMU-CONT .menu-gram .lnk-gram {
  position: absolute;
  top: 0;
  left: 300px;
}
.cont-iframe#CDMU-CONT .menu-gram .lnk-gram {
  top: auto;
  bottom: -20px;
  left: 220px;
}
#CDMU-CONT .menu-gram .lnk-gram a {
  position: absolute;
  background: transparent no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
  border: 3px solid rgba(255,255,255,0.33);
  cursor: pointer;
  -webkit-box-shadow: rgba(0,0,0,0.33) 0px 0px 8px 0;
  -moz-box-shadow: rgba(0,0,0,0.33) 0px 0px 8px 0;
  -ms-box-shadow: rgba(0,0,0,0.33) 0px 0px 8px 0;
  -o-box-shadow: rgba(0,0,0,0.33) 0px 0px 8px 0;
  box-shadow: rgba(0,0,0,0.33) 0px 0px 8px 0;
  -webkit-transition: ease-in-out 250ms all;
  -moz-transition: ease-in-out 250ms all;
  -ms-transition: ease-in-out 250ms all;
  -o-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
}
.cont-iframe#CDMU-CONT .menu-gram .lnk-gram a {
  width: 30px;
  height: 30px;
  position: static;
  top: auto !important;
  left: auto !important;
}
#CDMU-CONT .menu-gram .lnk-gram a:hover {
  -webkit-box-shadow: rgba(25,157,195,0.5) 0 0 16px 0;
  -moz-box-shadow: rgba(25,157,195,0.5) 0 0 16px 0;
  -ms-box-shadow: rgba(25,157,195,0.5) 0 0 16px 0;
  -o-box-shadow: rgba(25,157,195,0.5) 0 0 16px 0;
  box-shadow: rgba(25,157,195,0.5) 0 0 16px 0;
  z-index: 1;
}
#CDMU-CONT .menu-gram .lnk-gram a:hover .label {
  display: block;
  -webkit-animation: loadingShow ease-in-out 250ms;
  -moz-animation: loadingShow ease-in-out 250ms;
  -ms-animation: loadingShow ease-in-out 250ms;
  -o-animation: loadingShow ease-in-out 250ms;
  animation: loadingShow ease-in-out 250ms;
}
#CDMU-CONT .menu-gram .lnk-gram a .label {
  display: none;
  width: 200px;
  margin-left: 15px;
  position: absolute;
  left: 100%;
  top: 25%;
  background: #fff;
  color: #110101;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  -webkit-box-shadow: rgba(0,0,0,0.33) 2px 2px 8px 0;
  -moz-box-shadow: rgba(0,0,0,0.33) 2px 2px 8px 0;
  -ms-box-shadow: rgba(0,0,0,0.33) 2px 2px 8px 0;
  -o-box-shadow: rgba(0,0,0,0.33) 2px 2px 8px 0;
  box-shadow: rgba(0,0,0,0.33) 2px 2px 8px 0;
  line-height: 1.2em;
}
#CDMU-CONT .menu-gram .lnk-gram a .label:before {
  content: '';
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -8px;
  width: 0;
  height: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent #fff transparent transparent;
}
#CDMU-CONT .menu-gram .lnk-gram a.lnk_0 {
  background-image: url("../img/banner/ico_0.png");
  top: 0px;
  left: -45px;
}
#CDMU-CONT .menu-gram .lnk-gram a.lnk_1 {
  background-image: url("../img/banner/ico_1.png");
  top: 40px;
  left: 25px;
}
#CDMU-CONT .menu-gram .lnk-gram a.lnk_2 {
  background-image: url("../img/banner/ico_2.png");
  top: 105px;
  left: 75px;
}
#CDMU-CONT .menu-gram .lnk-gram a.lnk_3 {
  background-image: url("../img/banner/ico_3.png");
  top: 185px;
  left: 95px;
}
#CDMU-CONT .menu-gram .lnk-gram a.lnk_4 {
  background-image: url("../img/banner/ico_4.png");
  top: 265px;
  left: 85px;
}
#CDMU-CONT .menu-gram .lnk-gram a.lnk_5 {
  background-image: url("../img/banner/ico_5.png");
  top: 340px;
  left: 45px;
}
#CDMU-CONT .menu-gram .lnk-gram a.lnk_6 {
  background-image: url("../img/banner/ico_6.png");
  top: 390px;
  left: -20px;
}
#CDMU-CONT .menu-gram .lnk-gram a.lnk_7 {
  background-image: url("../img/banner/ico_7.png");
  top: 415px;
  left: -100px;
}
#CDMU-CONT .contenido {
  padding-top: 80px;
}
#CDMU-CONT h1 {
  color: #0d6ca3;
}
#CDMU-CONT h2 {
  color: #0d6ca3;
  font-size: 24px;
  margin: auto;
  padding-top: 0;
}
#CDMU-CONT p {
  text-align: justify;
}
#DIN-CON {
  position: relative;
  z-index: 10;
}
#DIN-CON .wrapper {
  position: relative;
}
#DIN-CON .din-txt {
  background: #fff;
  width: 40%;
  position: absolute;
  -webkit-box-shadow: rgba(0,0,0,0.5) -2px 4px 12px 0;
  -moz-box-shadow: rgba(0,0,0,0.5) -2px 4px 12px 0;
  -ms-box-shadow: rgba(0,0,0,0.5) -2px 4px 12px 0;
  -o-box-shadow: rgba(0,0,0,0.5) -2px 4px 12px 0;
  box-shadow: rgba(0,0,0,0.5) -2px 4px 12px 0;
  padding: 20px;
  right: 0;
  top: -445px;
}
.cont-iframe #DIN-CON .din-txt {
  width: 100%;
  max-width: 920px;
  padding: 10px;
}
.cont-iframe #DIN-CON .din-txt h2 {
  margin-bottom: 10px;
}
.cont-iframe #DIN-CON .din-txt:before {
  content: '';
  display: block;
  background: url("../img/banner/bg-iframe.png") no-repeat center top transparent;
  position: absolute;
  width: auto;
  left: 10px;
  right: 10px;
  top: 30px;
  height: 38px;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
#DIN-CON .din-txt p {
  padding-right: 5px;
}
#DIN-CON iframe {
  width: 100%;
  height: 350px;
  border: none;
}
#DIN-CON .overflower {
  overflow: auto;
  overflow-x: hidden;
  max-height: 380px;
}
#banner html,
#content html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#banner body,
#content body {
  margin: 0;
}
#banner article,
#content article,
#banner aside,
#content aside,
#banner details,
#content details,
#banner figcaption,
#content figcaption,
#banner figure,
#content figure,
#banner footer,
#content footer,
#banner header,
#content header,
#banner hgroup,
#content hgroup,
#banner main,
#content main,
#banner menu,
#content menu,
#banner nav,
#content nav,
#banner section,
#content section,
#banner summary,
#content summary {
  display: block;
}
#banner audio,
#content audio,
#banner canvas,
#content canvas,
#banner progress,
#content progress,
#banner video,
#content video {
  display: inline-block;
  vertical-align: baseline;
}
#banner audio:not([controls]),
#content audio:not([controls]) {
  display: none;
  height: 0;
}
#banner [hidden],
#content [hidden],
#banner template,
#content template {
  display: none;
}
#banner a,
#content a {
  background-color: transparent;
}
#banner a:active,
#content a:active,
#banner a:hover,
#content a:hover {
  outline: 0;
}
#banner abbr[title],
#content abbr[title] {
  border-bottom: 1px dotted;
}
#banner b,
#content b,
#banner strong,
#content strong {
  font-weight: bold;
}
#banner dfn,
#content dfn {
  font-style: italic;
}
#banner h1,
#content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#banner mark,
#content mark {
  background: #ff0;
  color: #000;
}
#banner small,
#content small {
  font-size: 80%;
}
#banner sub,
#content sub,
#banner sup,
#content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#banner sup,
#content sup {
  top: -0.5em;
}
#banner sub,
#content sub {
  bottom: -0.25em;
}
#banner img,
#content img {
  border: 0;
}
#banner svg:not(:root),
#content svg:not(:root) {
  overflow: hidden;
}
#banner figure,
#content figure {
  margin: 1em 40px;
}
#banner hr,
#content hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#banner pre,
#content pre {
  overflow: auto;
}
#banner code,
#content code,
#banner kbd,
#content kbd,
#banner pre,
#content pre,
#banner samp,
#content samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#banner button,
#content button,
#banner input,
#content input,
#banner optgroup,
#content optgroup,
#banner select,
#content select,
#banner textarea,
#content textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#banner button,
#content button {
  overflow: visible;
}
#banner button,
#content button,
#banner select,
#content select {
  text-transform: none;
}
#banner button,
#content button,
#banner html input[type="button"],
#content html input[type="button"],
#banner input[type="reset"],
#content input[type="reset"],
#banner input[type="submit"],
#content input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#banner button[disabled],
#content button[disabled],
#banner html input[disabled],
#content html input[disabled] {
  cursor: default;
}
#banner button::-moz-focus-inner,
#content button::-moz-focus-inner,
#banner input::-moz-focus-inner,
#content input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#banner input,
#content input {
  line-height: normal;
}
#banner input[type="checkbox"],
#content input[type="checkbox"],
#banner input[type="radio"],
#content input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
#banner input[type="number"]::-webkit-inner-spin-button,
#content input[type="number"]::-webkit-inner-spin-button,
#banner input[type="number"]::-webkit-outer-spin-button,
#content input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#banner input[type="search"],
#content input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
#banner input[type="search"]::-webkit-search-cancel-button,
#content input[type="search"]::-webkit-search-cancel-button,
#banner input[type="search"]::-webkit-search-decoration,
#content input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#banner fieldset,
#content fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#banner legend,
#content legend {
  border: 0;
  padding: 0;
}
#banner textarea,
#content textarea {
  overflow: auto;
}
#banner optgroup,
#content optgroup {
  font-weight: bold;
}
#banner table,
#content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#banner td,
#content td,
#banner th,
#content th {
  padding: 0;
}
@-moz-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-webkit-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-o-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-moz-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-webkit-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-o-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-moz-keyframes bg_left {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -1013px center;
  }
}
@-webkit-keyframes bg_left {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -1013px center;
  }
}
@-o-keyframes bg_left {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -1013px center;
  }
}
@keyframes bg_left {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -1013px center;
  }
}
@-moz-keyframes opacityAlf {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes opacityAlf {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes opacityAlf {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes opacityAlf {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-o-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-moz-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-webkit-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-o-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-moz-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes loadingShow_int {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes loadingShow_int {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-o-keyframes loadingShow_int {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes loadingShow_int {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-moz-keyframes loadingHide {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes loadingHide {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes loadingHide {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes loadingHide {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
