#banner html,
#content html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#banner body,
#content body {
  margin: 0;
}
#banner article,
#content article,
#banner aside,
#content aside,
#banner details,
#content details,
#banner figcaption,
#content figcaption,
#banner figure,
#content figure,
#banner footer,
#content footer,
#banner header,
#content header,
#banner hgroup,
#content hgroup,
#banner main,
#content main,
#banner menu,
#content menu,
#banner nav,
#content nav,
#banner section,
#content section,
#banner summary,
#content summary {
  display: block;
}
#banner audio,
#content audio,
#banner canvas,
#content canvas,
#banner progress,
#content progress,
#banner video,
#content video {
  display: inline-block;
  vertical-align: baseline;
}
#banner audio:not([controls]),
#content audio:not([controls]) {
  display: none;
  height: 0;
}
#banner [hidden],
#content [hidden],
#banner template,
#content template {
  display: none;
}
#banner a,
#content a {
  background-color: transparent;
}
#banner a:active,
#content a:active,
#banner a:hover,
#content a:hover {
  outline: 0;
}
#banner abbr[title],
#content abbr[title] {
  border-bottom: 1px dotted;
}
#banner b,
#content b,
#banner strong,
#content strong {
  font-weight: bold;
}
#banner dfn,
#content dfn {
  font-style: italic;
}
#banner h1,
#content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#banner mark,
#content mark {
  background: #ff0;
  color: #000;
}
#banner small,
#content small {
  font-size: 80%;
}
#banner sub,
#content sub,
#banner sup,
#content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#banner sup,
#content sup {
  top: -0.5em;
}
#banner sub,
#content sub {
  bottom: -0.25em;
}
#banner img,
#content img {
  border: 0;
}
#banner svg:not(:root),
#content svg:not(:root) {
  overflow: hidden;
}
#banner figure,
#content figure {
  margin: 1em 40px;
}
#banner hr,
#content hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#banner pre,
#content pre {
  overflow: auto;
}
#banner code,
#content code,
#banner kbd,
#content kbd,
#banner pre,
#content pre,
#banner samp,
#content samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#banner button,
#content button,
#banner input,
#content input,
#banner optgroup,
#content optgroup,
#banner select,
#content select,
#banner textarea,
#content textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#banner button,
#content button {
  overflow: visible;
}
#banner button,
#content button,
#banner select,
#content select {
  text-transform: none;
}
#banner button,
#content button,
#banner html input[type="button"],
#content html input[type="button"],
#banner input[type="reset"],
#content input[type="reset"],
#banner input[type="submit"],
#content input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#banner button[disabled],
#content button[disabled],
#banner html input[disabled],
#content html input[disabled] {
  cursor: default;
}
#banner button::-moz-focus-inner,
#content button::-moz-focus-inner,
#banner input::-moz-focus-inner,
#content input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#banner input,
#content input {
  line-height: normal;
}
#banner input[type="checkbox"],
#content input[type="checkbox"],
#banner input[type="radio"],
#content input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
#banner input[type="number"]::-webkit-inner-spin-button,
#content input[type="number"]::-webkit-inner-spin-button,
#banner input[type="number"]::-webkit-outer-spin-button,
#content input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#banner input[type="search"],
#content input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#banner input[type="search"]::-webkit-search-cancel-button,
#content input[type="search"]::-webkit-search-cancel-button,
#banner input[type="search"]::-webkit-search-decoration,
#content input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#banner fieldset,
#content fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#banner legend,
#content legend {
  border: 0;
  padding: 0;
}
#banner textarea,
#content textarea {
  overflow: auto;
}
#banner optgroup,
#content optgroup {
  font-weight: bold;
}
#banner table,
#content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#banner td,
#content td,
#banner th,
#content th {
  padding: 0;
}
#banner html,
#content html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#banner body,
#content body {
  margin: 0;
}
#banner article,
#content article,
#banner aside,
#content aside,
#banner details,
#content details,
#banner figcaption,
#content figcaption,
#banner figure,
#content figure,
#banner footer,
#content footer,
#banner header,
#content header,
#banner hgroup,
#content hgroup,
#banner main,
#content main,
#banner menu,
#content menu,
#banner nav,
#content nav,
#banner section,
#content section,
#banner summary,
#content summary {
  display: block;
}
#banner audio,
#content audio,
#banner canvas,
#content canvas,
#banner progress,
#content progress,
#banner video,
#content video {
  display: inline-block;
  vertical-align: baseline;
}
#banner audio:not([controls]),
#content audio:not([controls]) {
  display: none;
  height: 0;
}
#banner [hidden],
#content [hidden],
#banner template,
#content template {
  display: none;
}
#banner a,
#content a {
  background-color: transparent;
}
#banner a:active,
#content a:active,
#banner a:hover,
#content a:hover {
  outline: 0;
}
#banner abbr[title],
#content abbr[title] {
  border-bottom: 1px dotted;
}
#banner b,
#content b,
#banner strong,
#content strong {
  font-weight: bold;
}
#banner dfn,
#content dfn {
  font-style: italic;
}
#banner h1,
#content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#banner mark,
#content mark {
  background: #ff0;
  color: #000;
}
#banner small,
#content small {
  font-size: 80%;
}
#banner sub,
#content sub,
#banner sup,
#content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#banner sup,
#content sup {
  top: -0.5em;
}
#banner sub,
#content sub {
  bottom: -0.25em;
}
#banner img,
#content img {
  border: 0;
}
#banner svg:not(:root),
#content svg:not(:root) {
  overflow: hidden;
}
#banner figure,
#content figure {
  margin: 1em 40px;
}
#banner hr,
#content hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#banner pre,
#content pre {
  overflow: auto;
}
#banner code,
#content code,
#banner kbd,
#content kbd,
#banner pre,
#content pre,
#banner samp,
#content samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#banner button,
#content button,
#banner input,
#content input,
#banner optgroup,
#content optgroup,
#banner select,
#content select,
#banner textarea,
#content textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#banner button,
#content button {
  overflow: visible;
}
#banner button,
#content button,
#banner select,
#content select {
  text-transform: none;
}
#banner button,
#content button,
#banner html input[type="button"],
#content html input[type="button"],
#banner input[type="reset"],
#content input[type="reset"],
#banner input[type="submit"],
#content input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#banner button[disabled],
#content button[disabled],
#banner html input[disabled],
#content html input[disabled] {
  cursor: default;
}
#banner button::-moz-focus-inner,
#content button::-moz-focus-inner,
#banner input::-moz-focus-inner,
#content input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#banner input,
#content input {
  line-height: normal;
}
#banner input[type="checkbox"],
#content input[type="checkbox"],
#banner input[type="radio"],
#content input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
#banner input[type="number"]::-webkit-inner-spin-button,
#content input[type="number"]::-webkit-inner-spin-button,
#banner input[type="number"]::-webkit-outer-spin-button,
#content input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#banner input[type="search"],
#content input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
#banner input[type="search"]::-webkit-search-cancel-button,
#content input[type="search"]::-webkit-search-cancel-button,
#banner input[type="search"]::-webkit-search-decoration,
#content input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#banner fieldset,
#content fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#banner legend,
#content legend {
  border: 0;
  padding: 0;
}
#banner textarea,
#content textarea {
  overflow: auto;
}
#banner optgroup,
#content optgroup {
  font-weight: bold;
}
#banner table,
#content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#banner td,
#content td,
#banner th,
#content th {
  padding: 0;
}
@-moz-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-webkit-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-o-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-moz-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-webkit-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-o-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-moz-keyframes bg_left {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -1013px center;
  }
}
@-webkit-keyframes bg_left {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -1013px center;
  }
}
@-o-keyframes bg_left {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -1013px center;
  }
}
@keyframes bg_left {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -1013px center;
  }
}
@-moz-keyframes opacityAlf {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes opacityAlf {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes opacityAlf {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes opacityAlf {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-o-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-moz-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-webkit-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-o-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-moz-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes loadingShow_int {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes loadingShow_int {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-o-keyframes loadingShow_int {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes loadingShow_int {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-moz-keyframes loadingHide {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes loadingHide {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes loadingHide {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes loadingHide {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
/*VARIABLES*/
/*PARCHES DRUPAL*/
.text-center {
  text-align: center;
}
#banner > div,
#content > div {
  max-width: 940px;
  margin: auto;
}
#banner #block-block-5 {
  height: auto;
  background: #5b7b29;
}
#MENU-CDMU {
  position: relative;
  z-index: 10;
  -webkit-box-shadow: rgba(0,0,0,0.33) 0 0 8px 0;
  -moz-box-shadow: rgba(0,0,0,0.33) 0 0 8px 0;
  -ms-box-shadow: rgba(0,0,0,0.33) 0 0 8px 0;
  -o-box-shadow: rgba(0,0,0,0.33) 0 0 8px 0;
  box-shadow: rgba(0,0,0,0.33) 0 0 8px 0;
}
#MENU-CDMU > * {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
#MENU-CDMU .cont-form {
  float: right;
  margin-top: 15px;
}
#MENU-CDMU > .cont-link {
  font-size: 14px;
  font-weight: normal;
  min-width: 160px;
  padding-right: 10px;
}
#MENU-CDMU > .cont-link:hover img.ico-menu {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#MENU-CDMU > .cont-link:hover #cont-newmenu {
  display: block;
  -webkit-animation: menuDown ease-in-out 500ms;
  -moz-animation: menuDown ease-in-out 500ms;
  -ms-animation: menuDown ease-in-out 500ms;
  -o-animation: menuDown ease-in-out 500ms;
  animation: menuDown ease-in-out 500ms;
}
#MENU-CDMU span.titulo {
  cursor: pointer;
  border-left: 1px solid #425b1d;
  padding-left: 10px;
}
#MENU-CDMU img.ico-menu {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin: 8px 10px 2px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: 250ms ease-in-out all;
  -moz-transition: 250ms ease-in-out all;
  -ms-transition: 250ms ease-in-out all;
  -o-transition: 250ms ease-in-out all;
  transition: 250ms ease-in-out all;
}
#MENU-CDMU .breadcrumb {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: normal;
}
#MENU-CDMU .breadcrumb .breadcrumb-separator {
  color: #fff;
  color: rgba(255,255,255,0.75);
}
#MENU-CDMU .breadcrumb a {
  color: rgba(255,255,255,0.75);
  -webkit-transition: ease-in-out 250ms all;
  -moz-transition: ease-in-out 250ms all;
  -ms-transition: ease-in-out 250ms all;
  -o-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
}
#MENU-CDMU .breadcrumb a:hover {
  color: #fff;
}
#cont-newmenu {
  background: #649620;
  background: rgba(100,150,32,0.9);
  -webkit-box-shadow: rgba(0,0,0,0.33) 4px 4px 8px;
  -moz-box-shadow: rgba(0,0,0,0.33) 4px 4px 8px;
  -ms-box-shadow: rgba(0,0,0,0.33) 4px 4px 8px;
  -o-box-shadow: rgba(0,0,0,0.33) 4px 4px 8px;
  box-shadow: rgba(0,0,0,0.33) 4px 4px 8px;
  min-width: 320px;
  position: absolute;
  left: 0;
  display: none;
  top: 100%;
}
#cont-newmenu h2 {
  background: none;
  font-family: lato, arial, sans-serif;
  color: #fff;
  display: none;
}
#cont-newmenu .content {
  background: none;
}
#cont-newmenu #sidebar-first {
  width: auto;
  float: none;
  margin: 0;
}
#cont-newmenu .cont-input .container-inline {
  display: block;
  width: auto;
}
#cont-newmenu .cont-input .form-item-search-block-form {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 90%;
  float: none;
}
#cont-newmenu .cont-input .form-item-search-block-form input.form-text {
  background: #5b7b29;
  background: rgba(0,0,0,0.25);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Segoe UI, Helvetica, Arial, sans-serif;
  margin: 20px 0 15px 30px;
  margin-right: 0;
  padding: 0;
  width: 90%;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  height: 24px;
  line-height: 1.2em;
  font-weight: normal;
  font-size: 14px;
  font-family: arial;
  text-indent: 0.5em;
  display: block;
  float: none;
  -webkit-transition: ease-in-out 250ms all;
  -moz-transition: ease-in-out 250ms all;
  -ms-transition: ease-in-out 250ms all;
  -o-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
}
#cont-newmenu .cont-input .form-item-search-block-form input.form-text:hover {
  background: rgba(0,0,0,0.5);
}
#cont-newmenu .cont-input .form-item-search-block-form input.form-text:focus {
  background: rgba(0,0,0,0.5);
  outline: none;
  border-color: #fff;
}
#cont-newmenu .cont-input .form-actions input#edit-submit {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: transparent;
  font-size: 0;
  width: 26px;
  height: 26px;
  border: none;
  outline: none;
  position: relative;
  z-index: 2;
  top: 7px;
  right: 26px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: url("../img/ico-search.png") no-repeat center center transparent;
  cursor: pointer;
}
#cont-newmenu .cont-input .form-actions input#edit-submit:hover {
  background-color: rgba(255,255,255,0.25);
}
#cont-newmenu .block-menu-menu-recursos-digitales {
  background: none;
}
#cont-newmenu .block-menu-menu-recursos-digitales .content [style] {
  padding: 0 !important;
  background: none !important;
}
#cont-newmenu #block-block-13 [style] {
  border-width: 1px 0 0 0 !important;
  margin-top: 10px;
}
#cont-newmenu ul.menu {
  background: none;
  margin: 0 25px;
  text-shadow: rgba(0,0,0,0.25) 2px 2px 4px;
  cursor: default;
}
#cont-newmenu li {
  background: none;
  border: none;
  padding: 0;
  margin: auto;
  width: auto;
}
#cont-newmenu li.collapsed {
  list-style-image: url("../img/menu-collapsed.png");
}
#cont-newmenu li.expanded {
  list-style-image: url("../img/menu-expanded.png");
}
#cont-newmenu li.leaf {
  list-style-image: url("../img/menu-leaf.png");
}
#cont-newmenu li a {
  display: block;
  padding: 5px;
  margin: auto;
  width: auto;
  -webkit-box-shadow: rgba(0,0,0,0) 0 0 0 0;
  -moz-box-shadow: rgba(0,0,0,0) 0 0 0 0;
  -ms-box-shadow: rgba(0,0,0,0) 0 0 0 0;
  -o-box-shadow: rgba(0,0,0,0) 0 0 0 0;
  box-shadow: rgba(0,0,0,0) 0 0 0 0;
  -webkit-transition: ease-in-out all 250ms;
  -moz-transition: ease-in-out all 250ms;
  -ms-transition: ease-in-out all 250ms;
  -o-transition: ease-in-out all 250ms;
  transition: ease-in-out all 250ms;
}
#cont-newmenu li a:hover {
  background: #73941d;
  background: rgba(255,211,15,0.15);
  -webkit-box-shadow: rgba(0,0,0,0.25) 0 0 5px 0;
  -moz-box-shadow: rgba(0,0,0,0.25) 0 0 5px 0;
  -ms-box-shadow: rgba(0,0,0,0.25) 0 0 5px 0;
  -o-box-shadow: rgba(0,0,0,0.25) 0 0 5px 0;
  box-shadow: rgba(0,0,0,0.25) 0 0 5px 0;
}
#cont-newmenu li ul.menu {
  margin-right: 0;
}
